{% block time_period_row %}
	<div>
		{% if form.vars.errors|length > 0 %}
			<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200" role="alert">
				<p class="font-medium">Please fix the following errors:</p>
				<ul class="list-disc pl-5">
					{% for error in form.vars.errors %}
						<li>{{ error.message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="flex flex-row items-start  gap-4 w-full">
			<span class='mt-2'>De</span>
			{{ form_row(form.start, {
                "attr": {
                    "class": "w-min"
                }
            }) }}
			<span class='mt-2'>à</span>
			{{ form_row(form.end, {
                "attr": {
                    "class": "w-min"
                }
            }) }}
		</div>
	</div>
{% endblock %}

{% block day_row %}
	<div class="w-full flex flex-col gap-4">
		{% if not form.periods.vars.valid and form.periods.vars.errors|length > 0  %}
			<div class="pt-2 pb-3 px-6 text-red-600 rounded bg-red-100 border border-red-400" role="alert">
				{{ form_errors(form.periods) }}
			</div>
		{% endif %}

		{{ form_row(form.name) }}
		{{ form_row(form.periods) }}
	</div>
{% endblock %}

{% block period_collection_row %}
	<div {{ stimulus_controller('form-collection') }} data-limit="3">
		{{ form_label(form) }}
		<div data-container class="flex flex-col gap-2">
			{% for name, field in form %}
				{% if name == "_token" %}
					{{ form_row(field) }}
				{% else %}
					<div class="flex flex-row items-start justify-between">
						{{ form_row(field) }}
						{% if form.vars.allow_delete is defined and form.vars.allow_delete %}
							<button type="button" data-action-remove class=" mt-1 border border-red-500 text-red-500 hover:bg-red-50 rounded px-3 py-1.5 text-sm h-min">Supprimer</button>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		{% if form.vars.allow_add is defined and form.vars.allow_add %}
			<button type="button" data-action-add class="border border-blue-500 text-blue-500 hover:bg-blue-50 rounded px-3 py-1.5 text-sm ml-8 mt-6 disabled:opacity-50 disabled:cursor-not-allowed" {% if form.vars.disabled_add is defined and form.vars.disabled_add %} disabled {% endif %}>
				Ajouter une période
			</button>
		{% endif %}
		{% if form.vars.prototype is defined and form.vars.prototype %}
			<template id="prototype">
				{% include 'form/prototypes/_period.html.twig' with {form: form.vars.prototype, canBeDelete: form.vars.allow_delete is defined and form.vars.allow_delete } %}
			</template>
		{% endif %}
	</div>
{% endblock %}

{% block academic_stage_row %}
	<div class="flex flex-col gap-4">
		<div class="w-full">
			{{ form_row(form.schoolName) }}
		</div>
		<div class="w-full flex flex-row gap-4">
			<div class="flex-1">
				{{ form_row(form.startYear) }}
			</div>
			<div class="flex-1">
				{{ form_row(form.endYear) }}
			</div>
		</div>
		<div class="w-full">
			{{ form_row(form.level) }}
		</div>
		<div class="w-full">
			{{ form_row(form.degreeName) }}
		</div>
		<div class="w-full">
			{{ form_row(form.description) }}
		</div>
	</div>
{% endblock %}

{% block certificate_row %}
	<div class="flex flex-col gap-4">
		<div class="w-full flex flex-row gap-4">
			<div class="flex-1">
				{{ form_row(form.name) }}
			</div>
			<div class="flex-1">
				{{ form_row(form.issueDate) }}
			</div>
		</div>
		<div class="w-full">
			{{ form_row(form.issuer) }}
		</div>

		<div class="w-full">
			{{ form_row(form.description) }}
		</div>
	</div>
{% endblock %}


{% block collection_row %}
	<div {{ stimulus_controller('form-collection') }} data-limit="7">
		<div data-header class="flex flex-row justify-between items-end mb-4 px-8">
			<div>
				{{ form_label(form) }}
			</div>
			{% if form.vars.allow_add is defined and form.vars.allow_add %}
				<button type="button" data-action-add class="border border-blue-500 text-blue-500 hover:bg-blue-50 rounded px-3 py-1.5 text-sm  disabled:opacity-50 disabled:cursor-not-allowed" {% if form.vars.disabled_add is defined and form.vars.disabled_add %} disabled {% endif %}>
					Ajouter
				</button>
			{% endif %}
		</div>
		<div class="my-4">
			{% if not form.vars.valid and form.vars.errors|length > 0  %}
				<div class="pt-2 pb-3 px-6 text-red-600 rounded bg-red-100 border border-red-400" role="alert">
					{{ form_errors(form) }}
				</div>
			{% endif %}
		</div>
		<div data-container class="flex flex-col gap-8">
			{% for name, field in form %}
				{% if name == "_token" %}
					{{ form_row(field) }}
				{% else %}
					<div class="flex flex-col gap-6  p-4 bg-slate-50 border border-slate-300 rounded-md">
						{{ form_row(field) }}
						<div class="w-full border-t-1 h-0 border-slate-300 "></div>
						{% if form.vars.allow_delete is defined and form.vars.allow_delete %}
							<button type="button" data-action-remove class="max-w-max w-full mx-auto border border-red-500 text-red-500 hover:bg-red-50 rounded px-3 py-1.5 text-sm h-min">Supprimer</button>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{% if form.vars.prototype is defined and form.vars.prototype %}
			<template id="prototype">
				<div class="flex flex-col gap-6  p-4 bg-slate-50 border border-slate-300 rounded-md">
					{{ form_row(form.vars.prototype) }}
					<div class="w-full border-t-1 h-0 border-slate-300 "></div>
					{% if form.vars.allow_delete is defined and form.vars.allow_delete %}
						<button type="button" data-action-remove class="max-w-max w-full mx-auto border border-red-500 text-red-500 hover:bg-red-50 rounded px-3 py-1.5 text-sm h-min">Supprimer</button>
					{% endif %}
				</div>
			</template>
		{% endif %}
	</div>
{% endblock %}
