{{ form_start(form,  attr: {
        'data-turbo': 'false'
    }) }}


<div class="mb-8">
	<h2 class="text-xl font-semibold mb-2">Informations Personnelles</h2>
	<div class="mb-4">
		{{ form_row(form.firstname) }}
	</div>
	<div class="mb-4">
		{{ form_row(form.lastname) }}
	</div>
	<div class="mb-4">
		{{ form_row(form.birthdate) }}
	</div>
</div>

<div class="mb-8">
	<h2 class="text-xl font-semibold mb-2">Informations de connexion</h2>
	<div class="mb-4">
		{{ form_row(form.email) }}
	</div>
	{% if not app.user %}
		<div class="mb-4">
			{{ form_row(form.plainPassword) }}
		</div>
	{% endif %}
</div>


{% if not app.user %}
	{{ form_widget(form.agreeTerms) }}
{% endif %}


<div class="mt-10 mx-auto w-min">
	<button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">
		Suivant
	</button>
</div>
{{ form_rest(form) }}

{{ form_end(form) }}
