{{ form_start(form) }}

{% if form.vars.errors|length > 0 %}
	<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200" role="alert">
		<p class="font-medium">Please fix the following errors:</p>
		<ul class="list-disc pl-5">
			{% for error in form.vars.errors %}
				{{ dump(error.cause.propertyPath
			) }}
				<li>
					<span class="font-bold">{{form.vars.name}}:
					</span>
					{{ error.message }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

<div class="mb-8">
	{{ form_row(form.price) }}
</div>

<div class="mb-8">
	{{ form_row(form.availables) }}
</div>

<div class="mt-10 mx-auto w-min">
	<button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">
		Terminer
	</button>
</div>
{{ form_rest(form) }}

{{ form_end(form) }}
