<header class="top-0 left-0 right-0 z-50 fixed">
	<nav class="bg-slate-800 text-white py-4 h-16">
		<div class="container mx-auto flex items-center justify-between">
			<a href="{{ path("app_home") }}" class="text-lg font-bold">Mentor APP</a>
			<ul class="flex space-x-4">
				<li>
					<a href="{{ path("app_home") }}" class="text-gray-300 font-medium {% if app.current_route == " app_home" %} text-gray-50 {% else %} hover:text-gray-50 {% endif %} ">Accueil</a>
				</li>
				<li>
					<a href="{{ path("app_mentoring") }}" class="text-gray-300 font-medium {% if app.current_route starts with 'app_mentoring' %} text-gray-50 {% else %} hover:text-gray-50  {% endif %}">Devenir mentor</a>
				</li>

			</ul>

			<a href="{{ path("app_login") }}" class="text-gray-300 font-medium hover:text-gray-50">Connexion</a>
		</div>
	</nav>
	<div class="bg-slate-700 text-sm text-white py-2">
		<div class="container mx-auto gap-2 flex items-end justify-end">
			<a  class="text-gray-400 font-medium hover:text-gray-50" href="{{ path("app_register_student") }}">Inscription Eleve</a>|
			<a  class="text-gray-400 font-medium hover:text-gray-50" href="{{ path("app_register_mentor") }}">Inscription Mentor</a>
		</div>
	</div>
</header>
